<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiriusCodeCracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SiriusCodeCracker.Properties.Settings>
            <setting name="Columns" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="GivenLetters" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GivenLettersGrouped" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAllErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowIncorrectWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LetterColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="UsedLetter" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="GridColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="NumberColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GivenColour" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="HighlightColour" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="ErrorColour" serializeAs="String">
                <value>Pink</value>
            </setting>
        </SiriusCodeCracker.Properties.Settings>
    </userSettings>
</configuration>